body {
    background-color: white;
    color:black;
    font-weight:200;
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
}

.title {
    background-color:#7C92CA;
    color:white;
}

footer {
    background-color:#7C92CA;
    color:white;
    height:130px;
    padding-left:100px;
}

.login {
    border:0.5px solid black;
    padding-top:20px;
    padding-bottom:20px;
}

.login-block {
    border:0.5px solid black;
    width:500px;
}

hr.block {
    border-top:0.5px solid black;
}